<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>login模版</title>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script>
			//拦截器，
			axios.interceptors.request.use(
				function (config) {
					// console.log("请求发出前，执行的方法")
					// Do something before request is sent
					return config;
				},
				function (error) {
					// Do something with request error
					return Promise.reject(error);
				}
			);
			axios.interceptors.response.use(
				function (response) {
					console.log(response);
					// console.log("请求成功后 ，第一个调用的方法")
					const { authorization } = response.headers;
					authorization && localStorage.setItem('token', authorization);
					return response;
				},
				function (error) {
					return Promise.reject(error);
				}
			);
		</script>
	</head>
	<body>
		<div>
			用户名1:
			<input id="username" />
		</div>
		<div>
			密码:
			<input
				type="password"
				id="password"
			/>
		</div>
		<div><button id="login">登录</button></div>
		<script>
			var username = document.querySelector('#username');
			var password = document.querySelector('#password');
			var login = document.querySelector('#login');

			login.onclick = () => {
				axios
					.post('/user/login', {
						username: username.value,
						password: password.value,
					})
					.then((res) => {
						console.log(res.data);
						if (res.data.ok === 1) {
							//存储token
							location.href = '/';
						} else {
							alert('用户名密码不匹配');
						}
					});
			};
		</script>
	</body>
</html>
